[submodule "inst/_cornflakes/hash-library"]
	path = inst/_cornflakes/hash-library
	url = https://github.com/stbrumme/hash-library.git
[submodule "inst/_cornflakes/strtk"]
	path = inst/_cornflakes/strtk
	url = https://github.com/ArashPartow/strtk.git
